.your-rewards-label-wrapper {
  padding: 24px 0;
  margin-bottom: 20px;
  p {
    font-size: 14px;
    padding-top: 2px;
    vertical-align: top;
    padding-left: 12px;
    font-weight: 600;
    display: inline-block;
  }
}