@font-face {
  font-family: "Metropolis Regular";
  src: url("../../font/Metropolis-Regular.otf") format("truetype");
}

@font-face {
  font-family: "Metropolis Light";
  src: url("../../font/Metropolis-Light.otf") format("truetype");
}

@font-face {
  font-family: "Metropolis Black";
  src: url("../../font/Metropolis-Black.otf") format("truetype");
}

body {
  margin: 0 auto;
  font-family: Metropolis Regular;
  max-width: 1440px;
  background-color: #E5E5E5;
}

p {
  margin: 0px;
}
